<div class="d-none d-lg-flex flex-column flex-shrink-0 p-3 text-dark bg-white border-end h-100" style="width: 140px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item text-center mb-4">
      <a href="#" routerLink="home" class="nav-link text-dark" aria-current="page">
        <i class="fas fa-chart-pie fa-2x d-block mb-2" routerLinkActive="text-success"></i>
        Home
      </a>
    </li>
    <li class="nav-item text-center mb-4">
      <a href="#" routerLink="orders" class="nav-link text-dark" aria-current="page">
        <i class="fas fa-shopping-cart fa-2x d-block mb-2" routerLinkActive="text-success"></i>
        Orders
      </a>
    </li>
    <li class="nav-item text-center mb-4">
      <a href="#" routerLink="categories" class="nav-link text-dark" aria-current="page">
        <i class="fas fa-venus-mars fa-2x d-block mb-4" routerLinkActive="text-success"></i>
        Categories
      </a>
    </li>
    <li class="nav-item text-center mb-4">
      <a href="#" routerLink="products" class="nav-link text-dark" aria-current="page">
        <i class="fas fa-tshirt fa-2x d-block mb-4" routerLinkActive="text-success"></i>
        Products
      </a>
    </li>
    <li class="nav-item text-center mb-4">
      <a href="#" routerLink="customers" class="nav-link text-dark" aria-current="page">
        <i class="fas fa-users fa-2x d-block mb-4" routerLinkActive="text-success"></i>
        Customers
      </a>
    </li>
  </ul>
</div>