<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fab fa-angrycreative fa-2x text-success"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
      <div class="row w-100 justify-content-end align-items-center">
        <div class="col-md-12 col-lg-5 offset-lg-1 flex-grow-1">
          <input
            type="text"
            class="form-control w-100"
            placeholder="Search..."
          />
        </div>
        <ul class="d-block d-lg-none ms-0 ps-0 mt-2">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" routerLink="orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" routerLink="categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" routerLink="customers">Customers</a>
          </li>
        </ul>
        <div class="col-12 col-lg-2 mt-4 mt-lg-0 text-lg-end pointer">
          <span>Hello, Arturo! <i class="far fa-user ms-2"></i></span>
        </div>
      </div>
    </div>
  </div>
</nav>